.footer-para {
    font-size: 0.75rem;
    opacity: 0.5;
}

.social-icons i {
    margin: 0.75rem 0.75rem;
    font-size: 1.25rem;
    opacity: 0.8
}

.links
 {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
 }