/* src/components/LinkButton.css */

.link-button { background: none;
  border: none;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
  text-align: start;
  text-wrap: nowrap;
 
}
